<div class="row">
  <div class="col-12">
    <footer class=" text-light text-center text-lg-start " style="background-color: rgb(39, 37, 37)">
      <!-- Grid container -->
      <div class="container p-4">
        <!--Grid row-->
        <div class="row">
          <!--Grid column-->
          <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
            
            <img src="../images/logo3.PNG" alt="" width="60px" height="60" class="d-inline-block align-top">
            <h5 class="text-uppercase">Gabarecycle</h5>
            <p>
             Gabarecycle is a cost effective  web based application for SmartClean NGO that provides garbage management services as well as latrine and septic Tank emptying services to residential areas around Kampala.
             <br>
             <br>
             <em>Visit Us:</em>
             <br>
             StayClean
             1st Floor Muyenga Community Service <br> Plot 1977/245 <br>
             Kironde Road,Muyenga <br>
             Kampala, Uganda
            </p>
          </div>
          <!--Grid column-->
    
          <!--Grid column-->
          <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase">navigate site</h5>
    
            <ul class="list-unstyled mb-0">
              <li>
                <a href="#!" class="text-white footerlink">Home</a>
              </li>
              <li>
                <a href="#!" class="text-white footerlink">About Us</a>
              </li>
              <li>
                <a href="#!" class="text-white footerlink">Services</a>
              </li>
              <li>
                <a href="#!" class="text-white footerlink">FAQS</a>
              </li>
              <li>
                <a href="#!" class="text-white footerlink">Contact Us</a>
              </li>
            </ul>
          </div>
          <!--Grid column-->
    
          <!--Grid column-->
          <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase mb-0">Drop us a line</h5>
            <p>We always love to hear from you. Contact us from the section below.</p>
    
            <form>
              <!-- Name input -->
              <div class="form-outline mb-4">
                <input type="text" id="form4Example1" class="form-control" />
                <label class="form-label" for="form4Example1">Name</label>
              </div>
            
              <!-- Email input -->
              <div class="form-outline mb-4">
                <input type="email" id="form4Example2" class="form-control" />
                <label class="form-label" for="form4Example2">Email address</label>
              </div>
            
              <!-- Message input -->
              <div class="form-outline mb-4">
                <textarea class="form-control" id="form4Example3" rows="4"></textarea>
                <label class="form-label" for="form4Example3">Message</label>
              </div>
            
              <!-- Checkbox -->
              <div class="form-check d-flex justify-content-center mb-4">
                <input
                  class="form-check-input me-2"
                  type="checkbox"
                  value=""
                  id="form4Example4"
                  checked
                />
                <label class="form-check-label" for="form4Example4">
                  Send me a copy of this message
                </label>
              </div>
            
              <!-- Submit button -->
              <button type="submit" class="btn btn-success btn-block mb-4">Send</button>
            </form>
          </div>
          <!--Grid column-->
        </div>
        <!--Grid row-->
      </div>
      <!-- Grid container -->
    
      <!-- Copyright -->
      <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
        <p>
          <em>Gabarecycle 2021 images:</em>
          <a href="https://www.freepik.com/?__hstc=57440181.d015967c9076614fc296f3b350bbdf81.1558954754717.1558954754717.1558954754717.1&amp;__hssc=57440181.23.1558954754717&amp;__hsfp=1065412370" target="_blank" class="legal-link"><em>Freepik</em></a>
        </p>
        © 2021 Copyright:
        <a class="text-white" href="https://mdbootstrap.com/">DintonHarold.com</a>
      </div>
      <!-- Copyright -->
    </footer>
  </div>
  

</div>
